In [1]:
import os
import math
import numpy as np
import pandas as pd

In [3]:
data_path = os.path.join("..", "data", "demand_history.csv")
df = pd.read_csv(data_path)

df["date"] = pd.to_datetime(df["date"])

df.head(10)

        date          sku  units_sold
0 2024-01-01  USB_C_CABLE          34
1 2024-01-02  USB_C_CABLE          42
2 2024-01-03  USB_C_CABLE          56
3 2024-01-04  USB_C_CABLE          41
4 2024-01-05  USB_C_CABLE          54
5 2024-01-06  USB_C_CABLE          60
6 2024-01-07  USB_C_CABLE          58
7 2024-01-08  USB_C_CABLE          60
8 2024-01-09  USB_C_CABLE          56
9 2024-01-10  USB_C_CABLE          39

In [4]:
daily_sku = (
    df.groupby(["sku", "date"], as_index=False)
      .agg(units_sold=("units_sold", "sum"))
)

daily_sku.head(10)

          sku       date  units_sold
0  HEADPHONES 2024-01-01          30
1  HEADPHONES 2024-01-02          43
2  HEADPHONES 2024-01-03          27
3  HEADPHONES 2024-01-04          36
4  HEADPHONES 2024-01-05          30
5  HEADPHONES 2024-01-06          49
6  HEADPHONES 2024-01-07          48
7  HEADPHONES 2024-01-08          44
8  HEADPHONES 2024-01-09          34
9  HEADPHONES 2024-01-10          42

In [5]:
sku_stats = (
    daily_sku.groupby("sku", as_index=False)
             .agg(
                 avg_daily_demand=("units_sold", "mean"),
                 std_daily_demand=("units_sold", "std"),
                 days_observed=("units_sold", "count")
             )
)

sku_stats["std_daily_demand"] = sku_stats["std_daily_demand"].fillna(0)

sku_stats.head(10)

              sku  avg_daily_demand  std_daily_demand  days_observed
0      HEADPHONES         45.363388          9.390270            366
1    LAPTOP_STAND         42.161202          8.275312            366
2   PHONE_CHARGER         32.363388          6.658123            366
3     USB_C_CABLE         55.169399         10.555204            366
4  WIRELESS_MOUSE         56.904372         11.856869            366

In [6]:
service_level = 0.95
lead_time_days = 2

In [7]:
z_map = {
    0.90: 1.282,
    0.95: 1.645,
    0.97: 1.881,
    0.98: 2.054,
    0.99: 2.326
}

z = z_map.get(service_level, 1.645)
z

1.645

In [8]:
sku_plan = sku_stats.copy()

sku_plan["mean_demand_lead_time"] = sku_plan["avg_daily_demand"] * lead_time_days
sku_plan["std_demand_lead_time"] = sku_plan["std_daily_demand"] * math.sqrt(lead_time_days)

sku_plan["safety_stock_units"] = z * sku_plan["std_demand_lead_time"]
sku_plan["reorder_point_units"] = sku_plan["mean_demand_lead_time"] + sku_plan["safety_stock_units"]

sku_plan["safety_stock_units"] = sku_plan["safety_stock_units"].round(0).astype(int)
sku_plan["reorder_point_units"] = sku_plan["reorder_point_units"].round(0).astype(int)

sku_plan.sort_values("reorder_point_units", ascending=False).head(15)

,sku,avg_daily_demand,std_daily_demand,days_observed,mean_demand_lead_time,std_demand_lead_time,safety_stock_units,reorder_point_units
4,WIRELESS_MOUSE,56.904372,11.856869,366,113.808743,16.768145,28,141
3,USB_C_CABLE,55.169399,10.555204,366,110.338798,14.927312,25,135
0,HEADPHONES,45.363388,9.390270,366,90.726776,13.279848,22,113
1,LAPTOP_STAND,42.161202,8.275312,366,84.322404,11.703059,19,104
2,PHONE_CHARGER,32.363388,6.658123,366,64.726776,9.416008,15,80

In [9]:
rng = np.random.default_rng(2025)

sku_plan["on_hand_units"] = rng.integers(
    low=np.maximum(0, sku_plan["reorder_point_units"] // 2),
    high=np.maximum(1, sku_plan["reorder_point_units"] * 2)
)

sku_plan["on_order_units"] = rng.integers(
    low=0,
    high=np.maximum(1, sku_plan["reorder_point_units"] // 2)
)

sku_plan["inventory_position_units"] = sku_plan["on_hand_units"] + sku_plan["on_order_units"]

sku_plan["reorder_now_flag"] = sku_plan["inventory_position_units"] <= sku_plan["reorder_point_units"]

sku_plan["recommended_order_qty"] = np.where(
    sku_plan["reorder_now_flag"],
    np.maximum(0, sku_plan["reorder_point_units"] * 2 - sku_plan["inventory_position_units"]),
    0
).astype(int)

sku_plan.loc[sku_plan["reorder_now_flag"]].sort_values("recommended_order_qty", ascending=False).head(20)

Empty DataFrame
Columns: [sku, avg_daily_demand, std_daily_demand, days_observed, mean_demand_lead_time, std_demand_lead_time, safety_stock_units, reorder_point_units, on_hand_units, on_order_units, inventory_position_units, reorder_now_flag, recommended_order_qty]
Index: []

In [11]:
out_path = os.path.join("..", "data", "inventory_reorder_plan.csv")
sku_plan.to_csv(out_path, index=False)

out_path

'../data/inventory_reorder_plan.csv'